# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
.turbo/
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example
!.env.*.example

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
.local-storage/

# Prisma
packages/database/generated/
packages/database/prisma/migrations/dev_*

# Testing
coverage/

# Production-only
docker-compose.override.yml

# Local recoverable database backups
/backups/*.dump


apps/*/src/**/*.js
apps/*/src/**/*.d.ts
apps/*/src/**/*.js.map
apps/*/src/**/*.d.ts.map
apps/*/tsconfig.tsbuildinfo
